body {
    background-image: url(/IMG/pexels-asad-photo-maldives-457876.jpg);
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    color: white;
}